@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-size: 20px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;*/
:root{
    --orange:#ff4917;
    --blue:#151f28;
    --white:#fff;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
background: var(--orange);
}
.container{
    max-width: 1250px;
    margin: 25px auto 20px auto;
    
}
.logo{
    width: 130px;
    border-radius: 6px;
    
}
.nav{
   display: flex;
   justify-content: space-between;
   background: var(--white);
   padding: 10px 10px 10px 10px;
   border-radius: 6px;
}
.hero{
    background: var(--white);
    border-radius: 6px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    
}


.video{
    border-radius: 6px;
    width: 570px;
    height: 570px;
    
}
.menu{
    width:40px;
    height: 40px;
    background: var(--white);
    color: var(--orange);
}
.menuClose{
    width:40px;
    height: 40px;
    background: var(--white);
    color: var(--orange);
    display: none;
}
ul{
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    
}
.navmenu{
    background: var(--white);
    padding: 10px 20px 10px 20px;
   border-radius: 6px;
   display: none;
    
}
.navmenus{
    text-decoration: none;
    color: var(--blue);
    padding: 5px;
}
.navmenus:hover{
    background: var(--orange);
    padding: 5px;
    border-radius: 6px;
    color: var(--white);
}
#menubr{
    display: none;
}

.text{
    padding: 45px 0px 20px 10px;
}
.we{
    font-size: 60px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: left;
  color: var(--blue);
}
.ai{
    color: var(--orange);
}
.collaborate{
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: left;
  color: var(--blue);
}
.schedule{
    background: var(--blue);
    color: var(--white);
    padding: 20px;
    width: 260px;
    border-radius: 6px;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
a{
    text-decoration: none;
}
.schedule:hover{
    background: var(--orange);
    color: var(--blue);
}
.what{
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hero1{
    background: var(--white);
    border-radius: 6px;
    padding: 20px;
    
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}
.col1{
    
    padding: 30px;
    border-radius: 6px;
   
    border: 3px solid var(--orange);
    color: var(--blue);
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  width: 290px;
  text-align: left;
}
.no{
    color: var(--blue);
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  
}
.row1{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.quote{
    color: var(--orange);
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
}
.col1:hover{
    border: 3px solid var(--blue);
}
.have{
    color: var(--blue);
    text-align: center;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  line-height: 40px;
}
.connect{
    background: var(--orange);
    padding: 0px 5px;
    border-radius: 6px;
    color: var(--white);
}
.schedule1{
    background: var(--blue);
    color: var(--white);
    padding: 20px;
    width: 260px;
    border-radius: 6px;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  margin: 20px auto 5px auto ;
}

.schedule1:hover{
    background: var(--orange);
}
.copy{
    font-size: 15px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  margin-top: 10px;
}
.social{
    margin-left: 0px;
}
.menufooter{
    width:30px;
    height: 30px;
    background: var(--white);
    color: var(--blue);
    margin-left: 25px;
}
.footer{
    display: flex;
    justify-content: space-between;
    background: var(--white);
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
 }
 .label{
    font-size: 20px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  color: var(--blue);
 }
 .input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid --blue;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--blue);
  margin-top: 10px;
  width: 350px;
  height: 50px;
 }
 .textarea{
    border: 1px solid --blue;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--blue);
  margin-top: 10px;
  width: 400px;
  height: 100px;
  border-radius: 6px;
 }
 .submit{
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 6px;
    background: var(--blue);
    color: var(--white);
    border: none;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
 }
 .submit:hover{
    background: var(--orange);
 }


@media screen and (max-width:450px){
    
.container{
    max-width: 360px;
    margin: 15px auto 20px auto;
    
}

.nav{
   padding: 10px 10px 10px 10px;
}
.menu{
    width:35px;
    height: 35px;
    margin-top: 3px;

}
.menuClose{
    width:35px;
    height: 35px;
    margin-top: 3px;
}
ul{
    display: block;
   
}

.video{
    border-radius: 6px;
    width: 320px;
    height: 320px;
    
}

.hero{
    flex-direction: column-reverse;
    
}
.text{
    padding: 20px ;
}
.we{
    font-size: 25px;
    
  
  text-align: center;
 
}
.ai{
    color: var(--orange);
}
.collaborate{
    font-size: 16px;
    
  text-align: center;
}
.schedule{
        
    padding: 15px;
    width: 255px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.schedule1{
        
    padding: 15px;
    width: 255px;
    border-radius: 6px;
    font-size: 16px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}
.have{
    font-size: 30px;
}

.what{
    
  font-weight: 600;
  
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 25px;
  text-align: center;
}

.row{
    display: block;
    
}
.col1{
    
    padding: 10px;
   
    border: 2.5px solid var(--orange);
    
  font-size: 20px;
  line-height: 25px;
  width: 290px;
  margin: 15px 0px 15px 0px;
}
.no{
    
  font-weight: 600;
  font-size: 30px;
  
}
.row1{
    display: block;
    justify-content: space-between;
    margin-top: 15px;
}
.quote{
    
  margin-top: 10px;
}
.footer{
    display: block;
    background: var(--white);
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    margin: 0px auto;
 }
 .social{
    margin-left: 70px;
    margin-top: 20px;
 }
 .menufooter{
    width:20px;
    height: 20px;
    background: var(--white);
    color: var(--blue);
    margin-left: 10px;
}
.copy{
    text-align: center;
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid --blue;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--blue);
  margin-top: 10px;
  width: 290px;
  height: 50px;
 }
 
 .textarea{
    border: 1px solid --blue;
    font-size: 19px;
    font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: var(--blue);
  margin-top: 10px;
  width: 290px;
  height: 100px;

 }





}

@media screen and (max-width:376px){
   
    .container{
        max-width: 330px;
        margin: 15px auto 20px auto;
        
    }
    .video{
        border-radius: 6px;
        width: 290px;
        height: 290px;
        
    }
    .we{
        font-size: 25px;
        
      
      text-align: center;
     
    }
    .schedule{
        
        padding: 15px;
        width: 220px;
        border-radius: 6px;
        font-size: 16px;
        font-family: "Work Sans", serif;
      font-optical-sizing: auto;
      font-weight: 250;
      font-style: normal;
    }
    .schedul1{
        
        padding: 15px;
        width: 220px;
        border-radius: 6px;
        font-size: 16px;
        font-family: "Work Sans", serif;
      font-optical-sizing: auto;
      font-weight: 250;
      font-style: normal;
    }
    
.col1{
    
   
  width: 270px;
}
.have{
    font-size: 30px;
}

}
